node_modules
dist
_site
_build/docs_serve/
.idea/
_build
_temp_build
docs.yml
.DS_Store
.history
.vscode
.cache
.nyc_output
coverage
.runtime
package-lock.json
packages/magpie-suite-react-lib/lib/
.backup
yarn.lock
build